body {
    padding: 24px 24px;
}

h3 {
    font-family: Palatino;
    padding: 0;
}

#description {
    color: orange;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-header {
    padding: 12px;
}

.format-item-row {
    height: 50%;
}

.cafe-info {
    padding: 0;
    margin: 36px 0;
}

.cafe-info p {
    margin: 0;
}

.item-row:not(:first-child) {
    margin-top: 24px;
}

.item-row:not(:last-child) {
    margin-bottom: 24px;
}

.price {
    text-align: end;
}

.btn-order {
    background-color: #B1CAEC;
    border-radius: 500px;
    border: solid 1px black;
    color: black;
}